.park-details{
    width: 100%;
    height: auto;
    min-height: 800px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    margin-bottom: 2em!important;
}

.details-left{
    display: flex;
    flex-flow: column nowrap;
}
/* nav */
.details-menu{
    text-align: left;
    padding: 1em 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details-menu .MuiListItem-root:hover, .details-menu .MuiListItem-root:active{
    opacity: .75;
}

.details-menu .MuiListItem-root.active::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #76976c;
    border-radius: 100%;
    position: absolute;
    left: -22px;
  }

  .details-menu .MuiList-root{
      padding-left: 1em;
  }
  

  /* info */
.details-info{
    text-align: left;
    padding: 2em;
    max-height: 800px;
    overflow: scroll;
    flex-grow: 1;
}

.hours .MuiListItem-gutters{
    padding-left: 0;
    padding-bottom: 5px;

}

.address.MuiList-padding{
    padding-left: 0;
    padding-right: 0;
}

.address .MuiListItem-gutters{
    padding-left: 0;
    padding-bottom: 2px;
    padding-top: 2px;

}


/* about */
.details-about{
    text-align: left;
    padding: 1em 2em;
    position: relative;
}

.details-right{
    flex-flow: column nowrap;
    overflow: scroll;
}

/* fees */
.details-fees{
    text-align: left;
    width: 100%;
    padding: 1em 2em;
    background-color: rgba(62, 39, 35, 0.8);
    
}

/* acitivities */
.details-activities{
    flex-grow: 1;
}

.details-activity-item{
    width: 50%;
    padding: 1em;
    max-height: 500px;
    overflow: scroll;
}

.details-activity-item.item-1{
    border-bottom-left-radius: 5px;
}

.details-activity-item.item-2{
    border-bottom-right-radius: 5px;
}


/* weather */
.weather-icon{
    width: 100%;
    text-align: center;
}

.weather-icon .MuiSvgIcon-root{
    width: 70%;
    height: 70%;
}


@media only screen and (min-width: 960px){
    .details-menu{
        border-top-right-radius: 0;
    }

    .details-info{
        border-bottom-left-radius: 5px;
    }


    .details-activity-item.item-1{
        border-bottom-left-radius: 0;
    }
  }


  /* camping */
  .info-window{
      max-width: 300px;
  }

  .info-window .MuiCardMedia-root{
    width: 100%;
    height: 200px;
  }


  .details-camping{
    padding: 1em 2em;
  }