@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;&family=Roboto:wght@300;400;600&display=swap');

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.img{
  max-width: 100%;
  height: auto;
  display: block;
}

.MuiTypography-root .subtitle {
  color: #A38B74;
  font-size: 75%;
  font-weight: 400;
  display: block;
}

.color-1{
  color: #3e2723;
}

.color-2{
  color: #76976c;
}

.color-3{
  color: #A38B74;
}

.color-4{
  color: #a5c89a;
}


.background-1{
  background-color: #3e2723;
}

.background-2{
  background-color: #76976c;
}

.background-3, .MuiDivider-root.background-3{
  background-color: #A38B74;
}

.background-4{
  background-color: #a5c89a;
}


.text-light{
  color: rgba(255, 255, 255, 0.9);
}

.center {
  text-align: center;
}

.strong{
  font-weight: bold;
}

.padding-top{
  padding-top: 10px;
}

.padding-top-lg{
  padding-top: .75em;
}

.relative{
  position: relative;
}

.MuiGrid-direction-xs-column{
  flex-flow: column nowrap;
}

.image-hidden-xs{
  display: none;

}

@media only screen and (min-width: 960px){
  .image-hidden-xs{
    display: block;
  
  }
}
